@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Define dark mode variables */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply these variables to the body */
body {
  background-color: var(--background);
  color: var(--foreground);
}